# Secrets
.Renviron

# R / RStudio
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Rproj.user/

# macOS
.DS_Store

# Excel temp files
~$*

data/*
!data/.gitkeep
!data/raw/.gitkeep
!data/dwc/.gitkeep
!data/qc/.gitkeep
